
body {
    background-color: var(--bg);
    color: var(--text-standard);
}

div.button {
    position: absolute;
    top: 10px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    background-color: var(--button);
    color: var(--text-standard);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
